


body {
    color: #4e4139;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body a{
    text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
    background: #59a5d8;
}
.card button{
    opacity:75%;
}
.card {
    width: 290px;
    margin: 10px;
    border-radius: 20px 20px 0 0;
}
.card-image {
   
    height: 300px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 20px 20px 0 0;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}

.dog-1 {
    background-image: url('../images/df14.jpg');
}


.dog-2{
    background-image: url('../images/df24.jpg');
}


.dog-3{
    background-image: url('../images/df19.jpg');
}

.dog-4{
    background-image: url('../images/df13.jpg');
}
.dog-5{
    background-image: url('../images/df21.jpg');
}
.dog-6{
    background-image: url('../images/df28.jpg');
}
.dog-7{
    background-image: url('../images/df2.jpg');
}
.dog-8{
    background-image: url('../images/df9.webp');
}
.dog-9{
    background-image: url('../images/df10.jpg');
}

.logos img{
    width:50px;
    height: 50px;
}

.logo-a:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;

}
.logo :hover{
    cursor: pointer;
    transform: scale(1.10);
    transition: all 1s ease;
}
.icon {
    width:80px;
}
.voucher {
    width: 50px;
}


.logo2 button{
    border-radius: 20px;
}
.checkout button{
    border-radius: 20px;
}

.client img{
    width:300px;
    height: 200px;
    border-radius: 30px;
}


h1 {
    background: linear-gradient(
        270deg, #3f5efb, #fc466b
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: none;
}

.choices button:hover{
    cursor: pointer;
    transform: scale(1.02);
    transition: all 1s ease;
    background-color: white;
}

.happy img{
    width: 100%;
    border-radius: 30px;
}

.paw img{
    width:60px;
    border-radius: 30px;
}

.nav-item{
    border-radius: 30px;
    
    opacity: 0.7;
    margin-left: 2px;
}
.nav-item:hover{
    background-color: rgba(128, 128, 128, 0.233);
    
}

.text-info {
    margin-left: 2px;
}

.a {
    color:#4e4139;
}